.sidebar{
	position: sticky;
	top: 3.2rem;
	left: 0;
	width: 100%;
}
.hight{
	max-height: 100%;
}

.hideScroll::-webkit-scrollbar{
	display: none;
}
.hideScroll{
	-ms-overflow-style: none;
	scrollbar-width: none;
}


@media (max-width: 670px){
	.sidebar{
		background: red;
		width: 75%;
		height: 100vh;
	}
}
